.contactUs,.hero,.faq, .slider{
    max-width: 1150px;
    width: 94%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
  }
.faq-heading {
    text-align: center;
    margin: 10px 0;
    padding-bottom: 64px;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 64px;
}

.faq {
    display: flex;
    justify-content: space-between;
    
}
.img{
    flex-basis: 35%;
}
.qna{
    flex-basis: 50%;
}

.img img {
    width: 284px;
    height: 284px;
    margin-bottom: 111px;
}
.item{
    border: 2px solid whitesmoke;
    padding: 10px;
    margin-bottom: 10px;
    width: 702px;
    border-radius: 4px;
    transition: .5s;
}
.item:hover{
    border-color:#6263D5;
    background-color: #6263D5;
    color:  #F2F2F2;
}

.question{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    cursor: pointer;
}
.question h2{
    font-size: 16px;
    font-weight: 600;
}
.question span{
    margin-left: 10px;
    
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: all .2s cubic-bezier(0,1,0,1);
    font-size: 14px;
    /* color:  #F2F2F2; */
    padding-top: 9px;
}


.answer.show{
    max-height: 9999px;
    height: 90px;
    /* padding-top: 9px; */
    /* transition: all .5s cubic-bezier(1,0,1,0); */
    transition: all  cubic-bezier(1,0,1,0);
    /* background-color: #6263D5; */
    
}
