.contactwrap{
    width: 100%;
    background-color: #d9d9ff;
}
.contactUs{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.contact-img img{
    max-width: 384px;
    width: 100%;
    max-height: 384px;
    height: 100%;
}

.contact-form{
    max-width: 650px !important;
    padding-top: 5rem;
    width: 100%;    
    
}

.name{
    display: flex;
    flex-direction: column;
}
.row{
    max-width: 650px !important;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
}

input{
    height: 40px;
    padding: 0 0 0 12px;
    margin: 10px 0;
    outline: none;
    border-radius: 4px;
    border: 2px solid rgb(67, 67, 67);
    background-color: transparent;
}
textarea{
    height: 40px;
    margin: 10px 0;
    outline: none;
    border-radius: 4px;
    border: 2px solid rgb(67, 67, 67);
    background-color: transparent;
}

input{
    max-width: 340px !important;
    width: 100% !important;
    
}


textarea{
    padding: 12px 0 0 12px;
    resize: none;
    max-width: 500px !important;
    width: 500px !important;
    height: 60px;
}

label{
    font-size: 13px;
}

.btn{
    align-items: center;
    text-align: center;
    /* margin-top: 40px; */
}


.btn .submitbtn{
    padding: 9px 26px;
    background: #333333;
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}





@media  (max-width: 800px) {
    .row{
        flex-direction: column;
    }
  }