.contactUs{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
   
}
.parent-contact h1{
    text-align: center;
    padding-top: 64px;
}
.parent-contact{
    background-color:  #D9D9FF;
    padding-bottom: 80px;
}
.contact-img{
    flex-basis: 45%;

}

.contact-img img{
    width: 284px;
    height: 284px;
}

.contact-form{
    flex-basis: 40%;
    padding-top: 5rem;
    /* border: 2px solid #FBCF69; */
    
}

.name{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

input, textarea{
    width: auto;
    height: 40px;
    margin: 10px 0;
    padding: 8px 30px 8px 10px;
    outline: none;
    border-radius: 4px;
    border: 2px solid #4F4F4F;
    background-color: #D9D9FF;
}

input:focus, textarea:focus{
    border-color: #FBCF69;
    
}


textarea{
    resize: none;
    width: 400px;
    height: 60px;
}

label{
    font-size: 13px;
}

.btn{
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-left: 16px;
   
}


.btn .submitbtn{
    padding: 9px 26px;
    background: #333333;
    outline: none;
    border: none;
    border-radius: 19px;
    cursor: pointer;
    transition: .3s;
    color: #FFFFFF;
}



.btn .submitbtn:hover{
    transform: translateY(-5px);
}

.contact-name-btn{
    display: flex;
    max-width: 600px;
    justify-content: space-between;
}



@media  (max-width: 800px) {
    .row{
        flex-direction: column;
    }
  }
