.contactwrap {
    max-width: 1440px;
    width: 100%;
    background-color: #EFEFFB;
    /* background-color: rgb(255, 191, 0); */
    padding: 0 212px;
}

.contactwrap h1 {
    padding-top: 64px;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Inter', sans-serif;

}

.contactUs {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    /* background-color: rgb(75, 236, 129); */
}


.contact-img img {
    max-width: 340px;
    width: 100%;
    max-height: 384px;
    height: 100%;
}

.contact-form {
    padding-top: 72px;
    max-width: 600px !important;
    width: 100%;

    /* background-color: #fff; */
}

.name {
    display: flex;
    flex-direction: column;
}

.row {
    max-width: 580px !important;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    /* background-color: #fff; */
}

.textarea{
    max-width: 400px !important;
    width: 100% !important;

}

textarea {
    padding: 12px 0 0 12px;
    /* resize: none; */
    outline: none;
    width: 100% !important;
    border: 2px solid rgb(67, 67, 67);
    background-color: transparent;
    border-radius: 4px;
    resize: none;
    width: auto;
    height: 80px;


}


.row input{
    max-width: 300px !important;
    width: 280px;
    outline: none;
    border: 2px solid rgb(67, 67, 67);
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 16px;
}

label {
    font-size: 13px;
}

.btn {
    align-items: center;
    text-align: center;
    width: 100% !important;

}


 .submitbtn {
    padding: 10px 26px;
    background: #333333;
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
    font-weight: 600;
    font-size: 16px;
    width: 120px;
}






@media (max-width: 800px) {
    .row {
        flex-direction: column;
    }

    .btn .submitbtn {
        width: 318px;
    }

   
}



@media (max-width: 800px) {
    .contactwrap h1 {
        padding-top: 32px !important;
        padding-bottom: 16px !important;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        color: #1D1D1D;
    }



}