
.featuresWrap h4{
  padding-top: 40px;
  text-align: center ;
  margin: auto;
}

.feature1{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  max-width: 1250px;
  width: 94%;
  margin: auto;

}

.feature2{
  background-color:  #D9D9FF;
  padding: 20px 0;
  padding-left: 31px;
  
}


.feature1 .image  img{
  width: 330.44px;
  height: 580px;
  margin-top: 25px;
  padding-bottom: 56px;
}


.feature1.content h1{
  font-size: 2rem;
  color: #102437;
}

.feature1 .content {
  padding-top: 90px !important;  
}
.feature1 .content p{
  color: #7E8091;
  padding: 10px 0;

}
.list{
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}
.list .list-item{
  /* max-width: 300px; */
  margin-bottom: 10px;
}

.list .list-item li {
  align-items: center;
  display: flex;
  font-style: normal;
  /* background-color: rgb(246, 158, 209); */
  /* justify-content: space-between; */
  
}

.list .list-item li i {
  font-size: 10px;
  color: #6263D5;
  margin-bottom: -2px;
  
}

.list .list-item li span {
  font-size: 16px;
  color: #7E8091;
  margin-left: 6px;
  
}

.reverse .image img{
  padding-left: -100px;
  margin-right: 100px;
}

