
.featuresWrap h4{
  padding-top: 40px;
  text-align: center ;
  margin: auto;
}

.feature1{
  max-width: 1150px;
  width: 94%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 6rem;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  margin-bottom: 1rem;
  padding-bottom: 2rem;

}

.feature2{
  background-color:  #D9D9FF;
  padding: 20px 0;
  padding-bottom: 2rem;
}


.feature1 .image  img{
  width: 315.44px;
  height: 560px;

}

.feature1.content h1{
  font-size: 40px;
  color: #102437;
}

.feature1 .content {
  padding-top: 70px !important;  
  max-width: 650px;
  /* background-color: rgb(255, 164, 164); */
}
.feature1 .content p{
  color: #7E8091;
  padding: 10px 0;

}

.list .list-item{
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin-bottom: 10px;
}

.list .list-item li {
  align-items: center;
  display: flex;
  /* background-color: rgb(246, 158, 209); */
  justify-content: space-between;
  
}

.list .list-item li i {
  font-size: 10px;
  color: #6263D5;
  margin-bottom: -2px;
  
}

.list .list-item li span {
  font-size: 16px;
  color: #7E8091;
  margin-left: 6px;
  
}



