<<<<<<< HEAD
.glide{
=======
.round{
    margin-top: -16rem;
}
.glider{
>>>>>>> 2f31a4afced14862f6388b38af7098d16cc3dfc0
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    width: 94%;
    margin: auto;
}

<<<<<<< HEAD
.glides{
    /* flex-basis: 30%; */
}
=======


.glide{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    
}

>>>>>>> 2f31a4afced14862f6388b38af7098d16cc3dfc0
.glide video{
    height: 450px;
    margin: 0 35px;
}



<<<<<<< HEAD



.point{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sliderContent p{
    margin-bottom: 30px;
    color: rgb(131, 131, 131);
    font-size: 15px;
}




@media screen and (max-width: 550px) {
=======
@media screen and (max-width: 720px) {
>>>>>>> 2f31a4afced14862f6388b38af7098d16cc3dfc0
    
    .glide video{
        margin: 0 10px;
    }
    
    
<<<<<<< HEAD
    .slide i{
        padding: 10px;
        border-radius: 50px;
        background-color: #FBEFA7;
        font-size: 16px;
        cursor: pointer;
        transition: .3s;
    }
}
=======
  
}

@media screen and (max-width: 1000px) {
    
    
    .round{
        margin-top: 0;
    }
    
}
>>>>>>> 2f31a4afced14862f6388b38af7098d16cc3dfc0
