

.glide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    width: 94%;
    margin: auto;
}
.faq-heading{
    max-width: 550px;
    width: 94%;
    margin: auto;
}

.glide video{
    height: 450px;
    margin: auto;
    
}



